/// mixin it's use to change background of all the directory page

@mixin background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

@mixin display ($position: center, $direction: row, $align: center) {
    display: flex;
    justify-content: $position;
    align-items: $align;
    flex-direction: $direction;
}
