// colors
$first--color: #0B0D17;
$second--color: #D0D6F9;
$third--color: #FFFFFF;
$four--color: #383B4B;


// typography
$first--font-family: 'Barlow Condensed', sans-serif;
$second--font-family: 'Bellefair', serif;

// opacity
$small--opacity: rgba(255,255,255,0.5);
$medium--opacity: rgba(255,255,255,0.25);

// transition
$transition: width 0.4s ;

// font-size
